.mobileMenu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

ul.mobileMenuMain {
  display: block;
}

.mobileMenuMain {
  padding: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.mobileMenuLink {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}

.mobileMenuItem {
  transform: translate3d(0, 0, -1000px);
  margin: 0;
  padding: 0 40px;
  opacity: 0;
  transition: transform 0.3s;
  transition: opacity 0.2s;
}

.mobileMenuItem.menuOpen {
  transform: none;
  opacity: 1;
}
.mobileMenuItem.menuOpen:nth-child(1) {
  transition-delay: 0.27s;
}
.mobileMenuItem.menuOpen:nth-child(2) {
  transition-delay: 0.34s;
}
.mobileMenuItem.menuOpen:nth-child(3) {
  transition-delay: 0.41s;
}
.mainTitle {
  font-weight: 600;
  font-size: 25px;
  display: block;
}

.subTitle {
  display: block;
  font-size: 14px;
  color: #535353;
}

.mobileMenuLogo {
  padding: 0 40px;
}
