.travel {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
  margin-bottom: 80px;
}

.travelInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #eaebe6;
  position: relative;
  z-index: 10;
}

.travelTitle {
  font-size: 25px;
  font-weight: 700;
  position: relative;
}

.travelTitle::before {
  position: absolute;
  display: none;
  content: "";
  width: 100px;
  height: 1px;
  top: 50%;
  left: -120px;
  background-color: black;
  transform: translateY(50%) scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease 1.6s;
}

.travelTexts.inview .travelTitle::before {
  transform: translateY(50%);
}

.travelSub {
  margin-bottom: 16px;
}

.travelImage {
  margin-bottom: 16px;
}

.travelTexts {
  padding-bottom: 16px;
  display: flex;
  align-items: flex-end;
}

.purple {
  color: #904669;
}

.travelTextsInner {
  transform: translateX(20px);
  opacity: 0;
}

.travelTextsInner.inview {
  animation: left 1s ease-in 1 forwards;
}

@keyframes left {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .travelInner {
    flex-direction: row;
    padding: 50px;
  }
  .travelImage,
  .travelTexts {
    flex-basis: 47%;
  }
}

@media (min-width: 960px) {
  .travelDescription {
    margin-bottom: 40px;
  }

  .travelTitle::before {
    display: block;
  }
}

@media (min-width: 1280px) {
  .travelInner {
    padding: 50px 150px;
  }
}
