.travel {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.travelInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  background-color: #eaebe6;
}

.travelTitle {
  font-size: 25px;
  font-weight: 700;
}

.travelSub {
  margin-bottom: 16px;
}

.travelImage {
  margin-bottom: 16px;
}

.travelTexts {
  padding-bottom: 16px;
  display: flex;
  align-items: flex-end;
}

.purple {
  color: #904669;
}

@media (min-width: 600px) {
  .travelInner {
    flex-direction: row;
    padding: 50px;
  }
  .travelImage,
  .travelTexts {
    flex-basis: 47%;
  }
}

@media (min-width: 960px) {
  .travelDescription {
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) {
  .travelInner {
    padding: 50px 150px;
  }
}
